section {
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 80vw;
}

.s2 {
    margin-left: 30px;
}

.s3 {
    margin-top: 40px;
}