section {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 25px;
    width: 250px;
    height: 300px;
    text-align: center;
    padding: auto;
}

p {
    margin: auto auto;
}

.s2,
.s4 {
    margin-left: 300px;
}