@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
body {
    font-family: sans-serif;
    margin: 0;
}

main {
    font-family: sans-serif;
    margin: 1vw auto;
    width: 80vw;
}

h1 {
    font-weight: 800;
    font-size: 5vw;
}

h2 {
    font-weight: 600;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    background-color: #2d3648;
    color: white;
}

a {
    border-radius: .3vw;
    color: black;
    width: 10vw;
    padding: 15px 20px;
}

nav {
    /*     background-color: yellowgreen; */
    padding: 1vw;
    display: flex;
    background-color: #e2e7f0;
    border-bottom: 1px solid black;
}

nav img {
    width: auto;
    height: 3vw;
}

.links {
    margin-left: 2vw;
    padding: 15px 0px;
}

.head {
    background-color: #A0ABC0;
    border-radius: 5px;
    padding: 2vw 4vw;
}

.s1, .s2 {
    display: flex;
}

.s1 {
    justify-content: space-between;
}

.s2 {
    justify-content: space-between;
    font-family: sans-serif;
    margin: 1vw auto;
    width: 80vw;
}

.item {
    display: flex;
    padding: 1vw;
    border-radius: 25px;
    width: 30vw;
}

.firstitem img {
    width: 45vw;
}

.text {
    margin: 17vw  0 0 3vw;
}

.text h2{
    margin-bottom: 5vw;
    font-weight: 800;
    font-size: 30px;
}

.text p {
    margin-bottom: 3vw;
}


button {
    padding: 1vw 12vw;
    font-weight: 600;
    font-size: 1vw;
    border: 2px solid rgb(38, 38, 110);
    border-radius: 5px;
    background-color: #2d3648;
    color: white;
}

.divider {
    border: #2d3648 solid 1px;
    
}

.s2 {
    margin: 6vw auto;
}

.updownside{
    padding: 2vw 4vw;
    width: 15vw;
    height: 10vw;
    background-color: #e2e7f0;
}

.description{
    width: 55vw;
}

footer {
    text-align: center;
    background-color: #e2e7f0;
    padding: 5vw 0;
}

footer h2 {
    font-size: 40px;
}

footer section {
    padding: 0 15vw;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
footer .product {
    width: 20vw;
}

footer section img {
    width: 8vw;
    margin: 0 auto;
}

footer section p {
    text-align: left;
}